body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#carouselExampleIndicators {
  max-height: 600px;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.services-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 auto;
}

.custom-navbar {
  background-color: rgb(255, 255, 255, 1) !important; /* opaco al inicio */
  transition: background-color 0.3s ease;
}

.custom-navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.8) !important; /* semi-transparente al hacer scroll */
}

.custom-navbar.scrolled:hover {
  background-color: rgba(255, 255, 255, 1) !important;
}